{% extends "seekadvice_app/public/index.html" %}
{% load static %}



{% block body_block %}

<div class="container" style="padding:20px;">
    <p><strong>General Terms of Use (as of: 17.05.2022)</strong></p>
    <p>open-source-advice.com is an application (app) for finding help in the open source community and for general communication between users of the app open-source-advice.com. This service is provided to users free of charge. The source code of open-source-advice.com as well as the associated brand name belongs in full to the developer Dennis Hartel.</p>
    <p>The terms of use regulate the contractual relationship between the provider of the service (Dennis Hartel, Weinbergweg 51, 70569 Stuttgart, Germany) and the user of the service. These Terms of Use apply to both parties for the duration of the contractual relationship and use of the app open-source-advice.com.&nbsp;</p>
    <p>Our general terms of use apply to all visitors, users and other persons accessing our app . By registering withopen-source-advice.com, you agree to abide by these Terms of Use.&nbsp;&nbsp;</p>
    <p>In doing so, the provider renders services in accordance with the current state of the art and in doing so endeavors to always ensure delay- and error-free communication.&nbsp;</p>
    <p>The user of the app open-source-advice.com may use it exclusively as intended, in accordance with the German and European legislation permitted conduct and in accordance with the following more detailed terms of use.</p>
    <ul>
    <li>We make every effort to ensure that open-source-advice.com operates error-free and efficiently, but we cannot guarantee this. We will not be liable for any server downtime that is beyond our control or fault. In doing so, you accept that open-source-advice.com cannot be continuously available to perform maintenance or other improvements, if necessary.&nbsp;</li>
    <li>An internet connection is required to use our app. We do not assume any liability for data consumption and the costs incurred under certain circumstances.&nbsp;</li>
    <li>We assume no responsibility for the battery consumption of open-source-advice.com.</li>
    <li>We assume no responsibility if agreed services between users were not fulfilled. Our platform serves as a pure contact and not for the exchange of services and goods.</li>
    <li>Our app can be accessed through popular web browsers (Chrome, Firefox, Safari). Other browsers or certain versions may have compatibility issues. We therefore reserve the right to provide the app only for the specific browsers and their versions.</li>
    <li>By using the app you assure us that you are ready over 18 years old. If you are under 18 years of age, you may not use open-source-advice.com and you may not provide us with any data. If you do provide us with data from minors, please contact us so that we can take immediate action.&nbsp;</li>
    <li>By using the app, you agree to use your real name, not to impersonate someone else or create a so-called "fake profile".</li>
    <li>By using the app, you agree to treat other users with kindness and respect. We do not tolerate on our platform discrimination or incitement, insults, depictions that may in any way offend human dignity, or any other content that promotes any kind of illegal activity.</li>
    <li>By using the App, you agree to omit any use of software, scripts, viruses, corrupted files, or other content that contains destructive code designed to damage, disrupt, or otherwise restrict software or hardware.&nbsp;</li>
    <li>In our app, we provide you with content, including photos and other information, over which we have no control because it is user-generated content.</li>
    <li>When you upload content to open-source-advice.com, such as images or other information, you warrant to us that you own the rights to such content. If you notice content to which you do not have such rights, please contact us so that we can take immediate action. However, we have no obligation to monitor the content.&nbsp;</li>
    <li>You do not have any rights to the content of other users. You may not, without their consent, commercially exploit or process their uploaded information, such as images or other data, in any way other than as intended for use by open-source-advice.com.</li>
    <li>We reserve the right to exclude individual users from the app to ensure compliance with the Terms of Use. We reserve the right to suspend or terminate your account in the process without notice should you violate the Terms of Use or for any other reason that we, in our sole discretion, believe warrants termination of the account.</li>
    <li>The provider is liable for intent and gross negligence without limitation. Otherwise, liability exists only insofar as an essential contractual obligation is violated by the provider. In this case, liability is limited to compensation for the foreseeable damage according to the type of contract.</li>
    <li>We reserve the right to discontinue the operation and provision of open-source-advice.com without any reason. A deletion of your personal data will be carried out afterwards. The user can also terminate the contractual relationship at any time&nbsp;</li>
    <li>By using the app, you agree to the separately listed <strong>privacy policy</strong> and also agree to comply with the legal provisions on data protection.&nbsp;</li>
    <li>We reserve the right to update the general terms of use. The updated form will be published on this page and become effective. In this case we will inform you in time about the change.&nbsp;</li>
    <li>Should one or more provisions of these Terms of Use be invalid, this shall not result in the invalidity of the entire content of the contract. Invalid regulations will then be replaced by the relevant legal regulation.</li>
    </ul>
</div>



{% endblock %}




  