{% extends "seekadvice_app/base_outside.html" %}
{% load widget_tweaks %}
{% load static %}





{% block body_block %}


<div class="content" align="center">
    <div class="container">
        <div class="jumbotron p-10">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Activate your email adress</h3>
          <p class="break-all mb-2 text-gray-500 dark:text-gray-400">Registration was successful. Check your mailbox and activate your account!</p>

          <div class="text-center">
            <a class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="/login">Return Home</a>
          </div>


    
        </div>
      </div>


</div>



{% endblock %}

